.button {
  height: 28px;
  min-width: 120px;
  background-color: $header-background;
  border: none;
  box-shadow: 1px 1px 3px #2e4f55b1;
  color: whitesmoke;
  text-transform: uppercase;
  cursor: pointer;

  @media (max-width: 640px) {
      min-width: auto;
  }
}
