.button {
  min-width: 160px;
  height: 40px;
  background-color: rgb(23, 114, 106);
  color: whitesmoke;
  border-radius: 8px;
  box-shadow: 1px 2px 8px #559;
}

.orangeButton {
  background-color: rgb(170, 118, 20);
}

.floorContainer {
  display: flex;
  justify-content: center;
  
  .floor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    height: 40px;
    width: 200px;
    background-color: rgb(164, 164, 242);
    border-radius: 8px;
  }
}
